body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
}

@font-face {
  font-family: "SEGA";
  src: url("./fonts/SEGA.TTF") format("woff");
  font-weight: normal;
  font-style: normal;
}


/* Apply the SEGA font */
h1 {
  font-family: "SEGA", sans-serif;
  font-size: 30rem;
  text-transform: uppercase;
  color: #0ccac4; /* SEGA blue color */
  text-shadow: 4px 4px 0px #063c5e; /* Adds a shadow effect */
}
