/* Selector {
  property: value;
} */

h2 {
  color :#A8A8A8;
  text-align: center;
  border: 5px dashed purple;
  cursor: pointer;
}

img {
  float: left;
}

p {
  line-height: 20px;
  font-style: italic;
  font-weight: bold;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}


li {display: inline-block;}

.webtext {
  font-family: "Courier", sans-serif;
  color: blue
}

#div1 {
  background-color: #CCFFFF;
  border: 1px solid black;
  margin: 10px 5px 10px 5px;
  padding: 10px 5px 10px 5px;
}